.top_content {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.01rem;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
} 

.overlay {
    height: 89.2vh;
    width: 100%;
    
}

.text_video {
    display: flex;
    justify-content: center;
    margin-top: 19rem;
}

