.container {
  flex: 1;
  height: max-content;
  background-color: #27292f;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid: 2rem;
  margin-top: 2.5rem;
}

/* .h2 {
  font-size: clamp(16px, 1.4vw, 23px);
  font-weight: 400;
  line-height: 50%;
  margin-top: 10rem;
} */

/* .p {
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(16px, 1.4vw, 18px);
  font-weight: 300;
  line-height: 145%;
  margin-top: 3rem;
  max-width: 25rem;
} */

/* .group h1 {
  font-size: 10px;
  line-height: 90%;
  max-width: 23rem;
  font-weight: 600;
}

.content h2 {
  color: rgba(220, 220, 220, 1);
  font-size: clamp(16px, 1.4vw, 23px);
  font-weight: 400;
  line-height: 50%;
  margin-top: 3rem;
}

.content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(16px, 1.4vw, 18px);
  font-weight: 300;
  line-height: 145%;
  margin-top: 3rem;
  max-width: 25rem;
} */

.content button {
  align-self: flex-start;
  width: 200px;
  height: 40px;
  background-color: #4d61fc;
  color: white;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.team {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
  justify-content: center;
}

.team h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  color: #ffffff;
  font-family: "Fira Code";
}

.card {
  box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #a59dad;
  cursor: pointer;
  transition: 0.3s;
  background-color: #414253;
}

.card .img {
  width: 8em;
  height: 8em;
  background-color: #4d61fc;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.card h3 {
  font-weight: 500;
}

.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}

.card:hover {
  background: linear-gradient(#4169e1, #1e90ff);
  color: #ffff;
}

@media screen and (min-width: 768px) {
  .team {
    padding: 1em 7em;
  }
}

@media screen and (min-width: 992px) {
  .team {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 1em;
  }
}

.card:hover .img {
  transform: scale(1.15);
  transition: 0.2;
}
